# Groq API Configuration
GROQ_API_KEY=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

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=6642636919:AAFSpwTK2WvJN0TPebJy0sAFY9QJD31aBvo

# Admin Configuration
# Замените на ваш Telegram User ID (можно узнать у @userinfobot)
ADMIN_USER_ID=your_admin_user_id_here

